.informacao{
    display: flex;
    justify-content: space-around;
    }
    
    .informacao img{
        width:45%;
    }
    
    .informacao__paragrafos {
        width: 35%;
        font-size: 1.4rem;
        line-height: 2rem;
        text-indent: 1rem;
        text-align: justify;
    
    }

    @media screen and (max-width: 1200px) {
        .informacao {
            flex-direction: column;
        }

        .informacao img{
            width: auto;
            margin: 0 2rem 1rem 2rem;
        }

        .informacao__paragrafos {
            width: auto;
            margin: 0 2rem 1rem 2rem;
        }
        
    }