

.localizacao__mapa{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
    height: 416px;
    align-items: center;
}

.mapa{
    height: 100%;
    width: 45%;
}

.mapa__descricao {
    width: 35%;
    font-size: 1.4rem;
    line-height: 2rem;
    text-indent: 1rem;
    text-align: justify;
}